<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="public/styles/main.css" type ="text/css" />
    <title>NHL Stats</title>
  </head>

  <body>

    <header>
      <%- include('./partials/header'); %>
    </header>

    <h1>Backdoor NHL</h1>

    <%- include('./partials/footer'); %>
  </body>
</html>